<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">

<div layout:fragment="content">

  <div class="container-write">
    <div class="py-5 text-center">
      <p class="lead">장소명과 주소를 입력하고 리뷰, 사진을 올려주세요!</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text">장소 정보</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item">
            <div>
              <h6 class="my-0">장소명</h6>
              <input type="text" class="form-control" placeholder="장소명" th:value="${dto.placeName}" readonly="readonly">
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <h6 class="my-0">주소</h6>
              <input type="text" class="form-control" placeholder="주소" th:value="${dto.address}" readonly="readonly">
            </div>
          </li>
          <li class="list-group-item" id="place-star">
            <div>
              <h6 class="my-0">평점</h6>
              <fieldset>
                <input type="radio" name="score" value=5 id="rate1" th:checked="${dto.score eq 5}"
                       onclick="return(false)"><label for="rate1">★</label></input>
                <input type="radio" name="score" value=4 id="rate2" th:checked="${dto.score eq 4}"
                       onclick="return(false)"><label for="rate2">★</label></input>
                <input type="radio" name="score" value=3 id="rate3" th:checked="${dto.score eq 3}"
                       onclick="return(false)"><label for="rate3">★</label></input>
                <input type="radio" name="score" value=2 id="rate4" th:checked="${dto.score eq 2}"
                       onclick="return(false)"><label for="rate4">★</label></input>
                <input type="radio" name="score" value=1 id="rate5" th:checked="${dto.score eq 1}"
                       onclick="return(false)"><label for="rate5">★</label></input>
              </fieldset>
            </div>
          </li>
          <div id="map" style="width:100%;height:350px;">

          </div>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">게시글 정보</h4>
        <div class="row g-3">
          <div class="col-12">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="" th:value="${dto.title}"
                   readonly="readonly">
          </div>

          <div class="col-12">
            <label class="form-label">사진</label>
            <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
              <img class="card-img-top"
                   th:each="fileName: ${dto.fileNames}"
                   th:src="|/view/${fileName}|">
            </div>
            <div class="card" th:if="${dto.fileNames == null || dto.fileNames.size() == 0}">
              <img class="card-img-top" src="/images/not_found_img.png">
              <h4 style="text-align: center">사진이 아직 없네요??</h4>
            </div>
          </div>

          <div class="col-12">
            <label for="description" class="form-label">내용</label>
            <textarea class="form-control" name="description" id="description" rows="5" placeholder="" value=""
                      readonly="readonly">[[${dto.description}]]</textarea>
          </div>

          <div class="col-12">
            <label for="uid" class="form-label">작성자</label>
            <input type="text" class="form-control" name="uid" id="uid" placeholder=""
                   th:value="${dto.uid}" readonly="readonly">
          </div>

          <div class="col-12" th:with="user=${#authentication.principal}">
            <div class="float-end" th:with="link = ${pageRequestDto.getLink()}">
              <a th:if="${user != null && user.username == dto.uid}"
                 th:href="|@{/diary/modify(aid=${dto.aid})}&${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-update text-white">게시글 수정</button>
              </a>
              <a th:if="${user != null && user.username == dto.uid}">
                <button type="button" th:if="${user != null && user.username == dto.uid}" class="btn btn-delete text-white deleteBtn">게시글 삭제</button>
              </a>
              <a th:href="|@{/diary/list}?${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-read">게시글 목록</button>
              </a>

            </div>
          </div>

          <div class="col-12" style="margin-top: 30px">
            <div>
              <h4 class="mb-3" style="display:inline">댓글</h4>
              <button class="btn btn-create text-white addCommentBtn float-end">댓글 작성</button>
            </div>

            <hr class="my-4">

            <div class="col-md-12">
              <ul class="list-group commentList">
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="col">
              <ul class="pagination commentPaging">
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- modal -->

  <!-- write modal -->
  <div class="modal writeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">댓글 등록 (최대 100자)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">댓글 내용</span>
            <textarea type="text" class="form-control commentDescription" rows="1" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
          </div>
          <div class="input-group mb-3" th:with="user=${#authentication.principal}" hidden>
            <span class="input-group-text">작성자</span>
            <input type="text" class="form-control commentUid" th:value="${user.username}" readonly="readonly">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-create text-white writeBtn">등록</button>
          <button type="button" class="btn btn-outline-dark closeWriteBtn">취소</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modify modal -->
  <div class="modal modifyModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title commentHeader" hidden></h5>
          <h5>댓글 수정 (최대 100자)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">댓글 내용</span>
            <textarea type="text" class="form-control modifyCommentDescription" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-update text-white modifyBtn">수정</button>
          <button type="button" class="btn btn-delete text-white removeBtn">삭제</button>
          <button type="button" class="btn btn-outline-dark closeModifyBtn">취소</button>
        </div>
      </div>
    </div>
  </div>

  <!-- end of modal -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="/js/comment.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3de3d8a6bc873e2a21d462dedb5b6c64&libraries=services"></script>

  <script layout:fragment="script" th:inline="javascript">

      const aid = [[${dto.aid}]]
      const link = [[${pageRequestDto.getLink()}]]
      const currentUser = [[${#authentication.principal.username}]]

      // 댓글 관련 처리
      const commentList = document.querySelector('.commentList') //댓글 목록 DOM
      const commentPaging = document.querySelector('.commentPaging') //페이지 목록 DOM

      // 초기 화면 로딩 시
      window.onload = function () {

          printComments(1, 10, true)

      }

      // 게시글 삭제
      // thymeleaf 조건문으로 인해 deleteBtn이 출력되지 않을 수 있어 null check를 해야 함
      // (안 그러면 addEventListener null 처리되어 전체 JS 코드가 실행되지 않는다)
      if (document.querySelector(".deleteBtn") != null) {
          document.querySelector(".deleteBtn").addEventListener("click", function (e) {
              e.preventDefault()
              e.stopPropagation()

              $.post('/diary/delete', {aid: aid})

              alert("게시글이 삭제되었습니다.")

              $.get('/diary/list')

              location.href = "/diary/list"

          }, false)
      }

      // 댓글 목록
      function printList(dtoList) {
          let str = '';

          if (dtoList && dtoList.length > 0) {

              for (const dto of dtoList) {

                  str += `<p class="comment-user" style="margin-top: 10px; font-weight: bold">${dto.commentUid}</p>
                           <li class="list-group-item d-flex commentItemDetail">
                            <p class="col-1" hidden>${dto.cid}</p>
                            <p class="col-9" data-cid="${dto.cid}">${dto.commentDescription}</p>
                            <p class="col-3" style="text-align: center">${dto.createdAt} </p>
                           </li>`
              }
          }
          commentList.innerHTML = str
      }


      // 페이지 버튼 출력
      function printPages(data) {

          //pagination
          let pageStr = '';

          if (data.prev) {
              pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
          }

          for (let i = data.start; i <= data.end; i++) {
              pageStr += `<li class="page-item ${i == data.page ? "active" : ""} "><a class="page-link" data-page="${i}">${i}</a></li>`
          }

          if (data.next) {
              pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
          }

          commentPaging.innerHTML = pageStr
      }


      // 댓글 리스트 + 페이지 버튼 출력
      function printComments(page, size, goLast) {

          getList({aid, page, size, goLast}).then(
              data => {
                  printList(data.dtoList) //목록 처리
                  printPages(data) //페이지 처리
              }
          ).catch(e => {
              console.error(e)
          })

      }

      // textarea 자동 크기 조절

      function resize(obj) {
          obj.style.height = '1px';
          obj.style.height = (12 + obj.scrollHeight) + 'px';
      }


      // 댓글 등록 관련
      const writeModal = new bootstrap.Modal(document.querySelector(".writeModal"))
      const writeBtn = document.querySelector(".writeBtn")
      const commentDescription = document.querySelector(".commentDescription")
      const commentUid = document.querySelector(".commentUid")
      const closeWriteBtn = document.querySelector(".closeWriteBtn")


      // 댓글 등록 버튼 클릭 시 댓글 등록 모달 표시
      document.querySelector(".addCommentBtn").addEventListener("click", function (e) {
          console.log("모달 출력")
          writeModal.show()
      }, false)


      // 댓글 등록 취소 버튼 클릭 시 모달 숨기기
      closeWriteBtn.addEventListener("click", function (e) {
          console.log("모달 숨기기")
          writeModal.hide()
      }, false)


      // 등록 버튼 클릭 시
      writeBtn.addEventListener("click", function (e) {
          console.log("버튼 클릭")
          const commentObj = {
              aid: aid,
              commentDescription: commentDescription.value,
              commentUid: commentUid.value
          }

          addComment(commentObj).then(result => {
              console.log(result)
              alert("댓글이 작성되었습니다.")
              writeModal.hide()
              commentDescription.value = ''
              printComments(1, 10, true) //댓글 목록 갱신
          }).catch(e => {
              alert("Exception...")
          })
      }, false)


      let page = 1
      let size = 10


      // 댓글 리스트 페이징 갱신
      commentPaging.addEventListener("click", function (e) {

          e.preventDefault()
          e.stopPropagation()

          const target = e.target

          if (!target || target.tagName != 'A') {
              return
          }

          const pageNum = target.getAttribute("data-page")
          page = pageNum
          printComments(page, size)

      }, false)


      // 댓글 수정 관련
      const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))

      const commentHeader = document.querySelector(".commentHeader")
      const modifyCommentDescription = document.querySelector(".modifyCommentDescription")
      const modifyBtn = document.querySelector(".modifyBtn")
      const removeBtn = document.querySelector(".removeBtn")
      const closeModifyBtn = document.querySelector(".closeModifyBtn")


      let hasAuth = false // 댓글의 작성자와 currentUser의 일치 여부


      // 댓글 클릭 시 단건 조회
      commentList.addEventListener("click", function (e) {

          e.preventDefault()
          e.stopPropagation()

          const target = e.target

          if (!target || target.tagName != 'P') {
              return
          }

          const cid = target.getAttribute("data-cid")

          if (!cid) {
              return
          }

          getComment(cid).then(comment => { //댓글의 내용을 모달창에 채워서 보여주는

              hasAuth = currentUser === comment.commentUid //댓글의 작성자와 현재 사용자 일치 여부 확인

              console.log(comment)
              console.log(hasAuth)

              if (hasAuth) {
                  commentHeader.innerHTML = comment.cid
                  modifyCommentDescription.value = comment.commentDescription
                  modifyModal.show()
              } else {
                  return
              }

          }).catch(e => alert('error'))

      }, false)


      // 수정 버튼 클릭 시
      modifyBtn.addEventListener("click", function (e) {

          if (!hasAuth) {
              alert("댓글 작성자만 수정이 가능합니다.")
              modifyModal.hide()
              return
          }

          const commentObj = {
              aid: aid,
              cid: commentHeader.innerHTML,
              commentDescription: modifyCommentDescription.value
          }

          modifyComment(commentObj).then(result => {
              alert("댓글이 수정되었습니다.")
              commentDescription.value = ''
              modifyModal.hide()
              printComments(page, size)

          }).catch(e => {
              console.log(e)
          })
      }, false)


      // 수정 취소 버튼 클릭 시
      closeModifyBtn.addEventListener("click", function (e) {

          modifyModal.hide()

      }, false)


      // 댓글 삭제 관련
      removeBtn.addEventListener("click", function (e) {

          if (!hasAuth) {
              alert("댓글 작성자만 삭제가 가능합니다.")
              modifyModal.hide()
              return
          }


          removeComment(commentHeader.innerHTML).then(result => {

              alert("댓글이 삭제되었습니다.")
              commentDescription.value = ''
              modifyModal.hide()

              page = 1 // 이 부분이 없다면 원래 페이지로

              printComments(page, size)

          }).catch(e => {
              console.log(e)
          })
      }, false)

      const placeAddress = [[${dto.address}]]

      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
              center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
              level: 3 // 지도의 확대 레벨
          };

      // 지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addressSearch(placeAddress, function (result, status) {

          // 정상적으로 검색이 완료됐으면
          if (status === kakao.maps.services.Status.OK) {

              var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

              // 결과값으로 받은 위치를 마커로 표시합니다
              var marker = new kakao.maps.Marker({
                  map: map,
                  position: coords
              });

              // 인포윈도우로 장소에 대한 설명을 표시합니다
              var infowindow = new kakao.maps.InfoWindow({
                  content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${dto.placeName}]]</div>'
              });
              infowindow.open(map, marker);

              // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
              map.setCenter(coords);
          } else {
              $("#map").hide();
          }
      });

  </script>