<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">

<div layout:fragment="content">

  <div class="container-write">
    <div class="py-5 text-center">
      <p class="lead">장소명과 주소를 입력하고 리뷰, 사진을 올려주세요!</p>
    </div>

    <form class="needs-validation" novalidate action="/diary/write" method="post" id="mf">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text">장소 정보</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item">
              <div>
                <h6 class="my-0">장소명</h6>
                <input type="text" class="form-control" name="placeName" id="placeName" placeholder="장소명" required>
                <div class="invalid-feedback">
                  장소명을 적어주세요.
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <h6 class="my-0">주소</h6>
                <input type="text" class="form-control" name="address" id="address" placeholder="주소" required>
                <div class="invalid-feedback">
                  주소를 적어주세요.
                </div>
              </div>
            </li>
            <li class="list-group-item" id="place-star">
              <div>
                <h6 class="my-0">평점</h6>
                <fieldset>
                  <input type="radio" name="score" value=5 id="rate1"><label for="rate1">★</label></input>
                  <input type="radio" name="score" value=4 id="rate2"><label for="rate2">★</label></input>
                  <input type="radio" name="score" value=3 id="rate3"><label for="rate3">★</label></input>
                  <input type="radio" name="score" value=2 id="rate4"><label for="rate4">★</label></input>
                  <input type="radio" name="score" value=1 id="rate5"><label for="rate5">★</label></input>
                </fieldset>
              </div>
            </li>
          </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">게시글 작성</h4>
        <div class="row g-3">
          <div class="col-12">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="" value="" required>
            <div class="invalid-feedback">
              제목을 적어주세요.
            </div>
          </div>

          <div class="col-12">
            <label for="description" class="form-label">내용</label>
            <textarea class="form-control" name="description" id="description" rows="5" placeholder="" value="" required></textarea>
            <div class="invalid-feedback">
              내용을 적어주세요.
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">사진</label>
            <div class="float-end uploadHidden">
              <button type="button" class="btn btn-primary uploadFileBtn">사진 업로드</button>
            </div>
          </div>

          <div class="col-12">
            <label for="uid" class="form-label">작성자</label>
            <input type="text" class="form-control" name="uid" id="uid" placeholder=""
                   th:value="${#authentication.principal.username}" readonly>
          </div>
          <button type="submit" class="w-100 btn btn-primary btn-lg submitBtn">저장</button>
        </div>
      </div><!--end card body-->
    </div>
    </form>
  </div>

  <!—- 첨부 파일 섬네일을 보여줄 부분 -->
  <div class="row mt-3">
    <div class="col ">
      <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
      </div>
    </div>
  </div>

  <!—- 첨부파일 추가를 위한 모달창 -->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">사진 업로드 (최대 2장)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" accept=".png, .jpeg" multiple>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">Upload</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/upload.js"></script>
  <script src="/js/form-validation.js"></script>


  <script layout:fragment="script" th:inline="javascript">

      // 업로드 모달
      const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

      document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {

          e.stopPropagation()
          e.preventDefault()
          uploadModal.show()

      }, false)


      // 파일 업로드 버튼 클릭 시
      document.querySelector(".uploadBtn").addEventListener("click", function (e) {

          // 결과창에 있는 요소를 선택, 몇 개 존재하는지 확인
          if (document.querySelectorAll(".imageCard").length < 2) {

              const formObj = new FormData();

              const fileInput = document.querySelector("input[name='files']")

              const files = fileInput.files

              console.log(fileInput.files)

              for (let i = 0; i < files.length; i++) {
                  formObj.append("files", files[i]);
              }

              uploadToServer(formObj).then(result => {
                  console.log(result)
                  //console.log(result)
                  for (const uploadResult of result) {
                      showUploadFile(uploadResult)
                  }
                  uploadModal.hide()
              }).catch(e => {
                  uploadModal.hide()
              })
          } else {
              alert("이미지는 최대 2장까지만 첨부 할 수 있습니다!")
          }
      }, false)


      // 업로드 결과
      const uploadResult = document.querySelector(".uploadResult")

      function showUploadFile({uuid, fileName, link}) {

          const str = `<div class="card col-4 imageCard">
                  <div class="card-header d-flex justify-content-center">
                      ${fileName}
                      <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
                  </div>
                  <div class="card-body">
                       <img src="/view/${link}" data-src="${uuid + "_" + fileName}" >
                  </div>
              </div><!-- card -->`

          uploadResult.innerHTML += str
      }

      // 파일 삭제
      function removeFile(uuid, fileName, obj) {

          if(!confirm("파일을 삭제하시겠습니까?")){
              return
          }

          console.log(uuid)
          console.log(fileName)

          console.log(obj)

          const targetDiv = obj.closest(".card")

          removeFileToServer(uuid, fileName).then(data => {
              targetDiv.remove()
          })
      }

      // 게시글 저장 버튼 클릭 시
      document.querySelector(".submitBtn").addEventListener("click", function (e) {

          e.preventDefault()
          e.stopPropagation()

          const target = document.querySelector(".uploadHidden")

          const uploadFiles = uploadResult.querySelectorAll("img")

          let str = ''

          for (let i = 0; i < uploadFiles.length; i++) {
              const uploadFile = uploadFiles[i]
              const imgLink = uploadFile.getAttribute("data-src")

              str += `<input type='hidden' name='fileNames' value="${imgLink}">`
          }

          target.innerHTML = str;

          const formObj = document.querySelector("#mf");

          formObj.action = `/diary/write`;
          formObj.method = `POST`

          formObj.submit();
          console.log("submit")
          formObj.reset();

      }, false)

      const closeUploadBtn = document.querySelector(".closeUploadBtn")

      // 파일 업로드 취소 버튼 클릭 시 모달 숨기기
      closeUploadBtn.addEventListener("click", function (e) {
          console.log("모달 숨기기")
          uploadModal.hide()
      }, false)

  </script>